<!DOCTYPE html>
<html>
    <head>
        <title>Movie Api Service</title>
    </head>
    <body>
        <h1>Movies JSON API</h1>
        <ul>
            <li><h5>Movies by id:</h5><a href="/moviesApi">https://localhost:3000/moviesApi</a></li>
            <li><h5>Movies by name:</h5><a href="/moviesApi/search/avengers">https://localhost:3000/moviesApi/search/{name}</a></li>
        </ul>
        
    </body>
    

    
</html>